.nft__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar)
}

.nft__cta-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: #fff;
}

.nft__cta-content p {
    font-family: var(--font-family);
    font-size: 0.75rem;
    line-height: 1.875rem;
    font-weight: 500;
}

.nft__cta-content h3 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    line-height: 2.8125rem;
    font-weight: 800;
}

.nft__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.nft__cta-btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .nft__cta {
        flex-direction: column;
    }

    .nft__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .nft__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .nft__cta-content h3 {
        font-size: 1.125rem;
        line-height: 2rem;
    }

    .nft__cta-btn button {
        font-size: 0.875rem;
        line-height: 1.75rem;
    }
}