.nftcube__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nftcube__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    text-align: left;
    margin-right: 5rem;
}

.nftcube__features-heading h1 {
    font-size: 2.125rem;
    line-height: 2.8125rem;
    font-weight: 800;
    font-family: var(--font-family);
}

.nftcube__features-heading p {
    color: var(--color-subtext);
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.nftcube__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .nftcube__features {
        flex-direction: column;
    }

    .nftcube__features-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .nftcube__features-heading h1 {
        font-size: 1.75rem;
        line-height: 2.375rem;
    }
}