.nft__blog {
    display: flex;
    flex-direction: column;    
}

.nft__blog-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}

.nft__blog-heading h1 {
    font-size: 3.875rem;
    line-height: 4.6875rem;
    font-family: var(--font-family);
    font-weight: 800;
}

.nft__blog-container {
    display: flex;
    flex-direction: row;
}

.nft__blog-container_groupA {
    flex: 0.75;
    margin-right: 2rem;
}

.nft__blog-container_groupB {
    flex: 1;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .nft__blog-container {
        flex-direction: column-reverse;
    }


    .nft__blog-container_groupA {
        margin: 2rem 0;
    }

    .nft__blog-container_groupA .nft__blog-container_article  {
       width: 48%;
    }

    .nft__blog-container_groupA .nft__blog-container_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .nft__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .nft__blog-container_groupA .nft__blog-container_article  {
       width: 100%;
    }

    .nft__blog-heading h1 {
        font-size: 2.875rem;
        line-height: 3.25rem;
    }
}

@media screen and (max-width: 34.375rem) {
    .nft__blog-heading h1 {
        font-size: 2.125rem;
        line-height: 2.625rem;
    }

}