.nft__possibility {
    display: flex;
    flex-direction: row;
}

.nft__possibility-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    transform: rotate(40deg);
}

.nft__possibility-image img {
    width: 100%;
    height: 100%;
}

.nft__possibility-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.nft__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}

.nft__possibility-content h4:last-child {
    color: #ff8A71;
}

.nft__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 2.125rem;
    line-height: 2.8125rem;
    margin: 1rem 0;
}

.nft__possibility-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;

    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .nft__possibility {
        flex-direction: column;
    }

    .nft__possibility-image {
        margin: 1rem 0;
    }

    .nft__possibility-image img {
        width: unset;
        height: unset;
    }

    .nft__possibility-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .nft__possibility-image img {
        width: 100%;
        height: 100%;
    }
}
